:root {
    --accented: #10bbb5;
    --primary: #222222;
    --secondary: #7f7f7f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    gap: 50px;
}

.background {
    background-image: linear-gradient(to bottom, #10bbb583, rgba(255, 255, 255, 1));
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: var(--primary);
    margin-left: 50px;
    margin-right: 50px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 24px;
    width: auto;
}
.logo-text {
    font-size: 24px;
    font-weight: 700;
    margin-right: 30px;
    letter-spacing: -0.5px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 40px;
}

.links li a {
    padding: 20px 5px;
}

.show {
    color: var(--primary);
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
}

a:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    text-decoration: underline;
    text-decoration-color: var(--accented);
    text-decoration-style: solid; 
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.hidden {
    color: var(--secondary);
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
}

.brightness {
    font-size: 20px;
    margin-left: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headline {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}

.headline-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.main-text,
.secondary-text {
    text-align: center;
}

.main-text {
    font-size: 32px;
    color: var(--primary);
    font-weight: 700;
    width: 80%;
    align-self: center;
    letter-spacing: -0.5px;
}

.accented-text {
    color: var(--accented);
}

.secondary-text,
.portfolio-description,
.site-secondary-text,
.site-features {
    font-size: 20px;
    color: var(--secondary);
}

.headline-content {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 250px;
}

.headline-card {
    padding: 20px;
    box-shadow: var(--accented) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    border-radius: 20px;
}

.headline-card:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    transform: scale(1.05);
}

.card-title {
    font-size: 20px;
}

.card-content {
    font-size: 18px;
    text-align: justify;
    hyphens: auto;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio-container {
    height: 400px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #10bbb553;
    border-radius: 20px;
    padding: 20px;
    
}

.portfolio-title,
.site-main-text {
    font-size: 32px;
    color: var(--primary);
    font-weight: 700;
    align-self: center;
    letter-spacing: -0.5px;
}

.left-arrow {
    transform: rotateY(180deg);
}

.left-arrow:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    transform: rotateY(180deg) scale(1.3);
}

.right-arrow:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    transform: scale(1.3);
}

.portfolio-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.primary-img {
    height: 300px;
    width: auto;
}

.secondary-img {
    height: 200px;
    width: auto;
}

.site {
    background-color: rgb(244, 244, 244);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.site-image > img {
    height: 400px;
    width: auto;    
}

.site-text {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.site-button {
    width: 200px;
    background-color: var(--accented);
    background-image: linear-gradient(1deg, var(--accented), #0f9793 99%);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    align-self: self-start;
}

.site-features > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.site-features > ul > li {
    display: flex;
    gap: 10px;
}

.footer {
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
