/* styles for small screen size */
:root {
  --accentedColor: #10bbb5;
  --primaryText: #313131;
  --secondaryText: #535353;
  --headerText: #616161;
  --disableText: #c2c2c2;

  --separator: #e4e4e4;
  --inactiveElement: #ececec;
  --whiteBackground: #f5f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Helvetica, sans-serif;
  color: var(--primaryText);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: max(14svh, 80px);
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--accentedColor),
    #10bbb55c,
    rgba(255, 255, 255, 1)
  );
  height: 12svh;
  min-height: 60px;
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  display: flex;
  align-items: center;
  height: 100vh;
  color: var(--primaryText);
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-out;
  background-color: var(--accentedColor);
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--primaryText);
  margin-left: 50px;
  margin-right: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.logo-img {
  height: 40px;
  width: auto;
  margin-bottom: 2px;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  margin-right: 30px;
  letter-spacing: -0.5px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 40px;
  flex-direction: column;
}

.links li {
  list-style-type: none;
}

.links li a {
  padding: 20px 5px;
}

.show {
  color: var(--primaryText);
  transition: all 0.1s ease-in-out;
}

.links li a:hover {
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  text-decoration-color: var(--primaryText);
  -webkit-text-stroke: 1px black;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.hidden {
  color: var(--headerText);
  transition: ease-out 0.1s;
  transition: ease-in 0.1s;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button {
  margin-left: auto;
  padding: 20px;
  display: block;
}

.close-sidebar-button {
  align-self: flex-end;
  padding-bottom: 50px;
  display: block;
}

#sidebar-active:checked ~ .header {
  right: 0;
}

#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
}

.headline {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: calc(100vh - 200px);
}

.headline-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.secondary-text {
  line-height: 1.5;
  text-align: center;
}

.main-text {
  font-size: 42px;
  font-weight: 700;
  color: var(--primaryText);
  letter-spacing: -2px;
  align-self: center;
  text-align: center;
}

.accented-text {
  color: var(--accentedColor);
}

.footnote {
  font-size: 12px;
  text-align: right;
}

.disclaimer {
  margin-bottom: 10px;
  font-size: 12px;
  max-width: 600px;
  text-align: center;
}

.secondary-text,
.site-secondary-text,
.site-features {
  font-size: 20px;
  color: var(--secondaryText);
}

.headline-content {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.headline-card {
  padding: 20px;
  background-color: var(--whiteBackground);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  border-radius: 20px;
  min-height: 220px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.card-content {
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
}

.site-main-text {
  font-size: 32px;
  color: var(--primaryText);
  font-weight: 700;
  align-self: center;
  letter-spacing: -0.5px;
}

.site {
  background-color: rgb(244, 244, 244);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  margin: auto;
}

.site-image > img {
  width: 40vw;
  height: auto;
}

.site-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  text-align: justify;
  hyphens: auto;
}

.site-features > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.site-features > ul > li {
  display: flex;
  gap: 10px;
}

.site-feature-icon {
  min-width: 32px;
}

.button-style {
  background-color: var(--accentedColor);
  background-image: linear-gradient(1deg, var(--accentedColor), #0f9793 99%);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  color: var(--inactiveElement);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
}

.button-style:hover {
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-header {
  font-size: 32px;
  color: var(--primaryText);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

.footer {
  color: var(--secondaryText);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
}

/* styles for the contact form */
.contact-section {
  margin-inline: auto;
  margin-top: 20px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #10bbb54e;
  padding: 20px 40px;
  gap: 20px;
  border-radius: 10px;
}

.contact-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primaryText);
  letter-spacing: -2px;
}

.contact-description {
  font-size: 20px;
  color: #575757;
}

.contact-content,
#checkbox,
#textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* #textarea {
  border-radius: 10px;
} */

.checkbox-style {
  display: flex;
  gap: 10px;
}

label {
  font-size: 18px;
  color: var(--primaryText);
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

label > select,
label > input {
  padding: 5px;
  color: #575757;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgb(27, 31, 35);
  font-size: 14px;
}

.checkbox-style > p {
  color: #414141;
}

#submit {
  appearance: none;
  background-color: var(--primaryText);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
  align-self: center;
}

#submit:hover {
  background-color: var(--accentedColor);
  color: #bb1016;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
  justify-content: center;
}

/* styles for larger screen sizes */
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .site {
    flex-direction: row;
    padding: 50px 100px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .header {
    height: 80px;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;

    position: static;
    top: auto;
    right: auto;
    z-index: auto;

    box-shadow: none;
    transition: none;
    background-color: transparent;
  }

  .links {
    flex-direction: row;
  }

  .links li a:hover {
    text-decoration-color: var(--accentedColor);
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: none;
  }

  .headline-text {
    width: 60%;
  }

  .headline-card:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    transform: scale(1.05);
    box-shadow: var(--accentedColor) 1.95px 1.95px 2.6px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {

}
