---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
import '../styles/blog.css'

const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = 'StronaFirmy.pl | Blog'
---

<BaseLayout title={pageTitle} description='Blog'>
  <header class='headline'>
    <div class='headline-text'>
      <h1 class='main-text'>
        Our own
        <span class='accented-text'> personal blog </span>
        right here!
      </h1>
      <div class='secondary-text'>
        Are you interested in learning more about certain things? If so, you've
        come to the right place! Content updated regularly and free of charge at
        your disposal.
      </div>
    </div>
  </header>
  <ul class='blog-highlight'>
    {allPosts.map((post, index) => <BlogPost post={post} index={index} />)}
  </ul>
</BaseLayout>
