---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import amtImage from "../images/AMT-Website.PNG";
---

<BaseLayout title="StronaFirmy.pl | Homepage">
  <div class="headline">
    <div class="headline-text">
      <div class="main-text">
        Are you looking to create
        <span class="accented-text"> a personalized website </span>
        for your business? Look no further!
      </div>
      <div class="secondary-text">
        <b>StronaFirmy.pl</b> offers many services that will ensure your business
        gets the recognition you need. By focusing on making the website mirror the
        company's image, we can help you better connect with your customers. We achieve
        this by focusing on three aspects:
      </div>
    </div>
    <div class="headline-content">
      <div class="headline-card">
        <p class="card-title">Personality</p>
        <p class="card-content">
          Twoja nowa strona internetowa będzie czytelna i atrakcyjna, co pomoże
          Ci przyciągnąć nowych klientów.
        </p>
      </div>
      <div class="headline-card">
        <p class="card-title">Accessibility</p>
        <p class="card-content">
          Twoja nowa strona internetowa będzie czytelna i atrakcyjna, co pomoże
          Ci przyciągnąć nowych klientów.
        </p>
      </div>
      <div class="headline-card">
        <p class="card-title">User Experience</p>
        <p class="card-content">
          Twoja nowa strona internetowa będzie czytelna i atrakcyjna, co pomoże
          Ci przyciągnąć nowych klientów.
        </p>
      </div>
    </div>
  </div>
  <div class="portfolio">
    <div class="portfolio-text">
      <div class="portfolio-title">Portfolio</div>
      <div class="portfolio-description">
        Twoja nowa strona internetowa będzie czytelna i atrakcyjna, co pomoże Ci
        przyciągnąć nowych klientów.
      </div>
    </div>
    <div class="portfolio-container">
      <div>
        <img
          class="left-arrow"
          src="images/icons8-arrow-50.png"
          alt="Arrow pointing left"
        />
      </div>
      <div class="portfolio-images">
        <Image class="secondary-img" src={amtImage} alt="AMT Website" />
        <a href="https://amtbt.eu/pl/" target="_blank">
          <Image class="primary-img" src={amtImage} alt="AMT Website" />
        </a>
        <Image class="secondary-img" src={amtImage} alt="AMT Website" />
      </div>
      <div>
        <img
          class="right-arrow"
          src="images/icons8-arrow-50.png"
          alt="Arrow pointing right"
        />
      </div>
    </div>
  </div>
  <div class="site">
    <div class="site-image">
      <img
        src="images/undraw_building_websites_i78t.svg"
        alt="Website Builder"
      />
    </div>
    <div class="site-text">
      <div class="site-main-text">Create Personalized Websites With Us!</div>
      <div class="site-secondary-text">
        Want to work with us but still unsure? Let us convince you with our bla
        bla bla.
      </div>
      <div class="site-features">
        <ul>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>Powyżej 5 stron</p>
          </li>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>Indywidualny projekt</p>
          </li>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>CMS (blog, galeria, itp.)</p>
          </li>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>Copywriting</p>
          </li>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>Założenie Profilu Firmy w Google</p>
          </li>
          <li>
            <img src="images/icons8-brightness-24.png" alt="Bla" />
            <p>Faktura VAT</p>
          </li>
        </ul>
      </div>
      <button class="site-button"> Request Quotation </button>
    </div>
  </div>
</BaseLayout>
