---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title='StronaFirmy.pl | Kontakt'
  ,
  description='Zamów darmową wycenę lub dowiedz się więcej. Po wypełnieniu tego formularza odezwiemy się do Ciebie najszybciej, jak to możliwe.'
>
  <div class='contact-section'>
    <form action='https://api.web3forms.com/submit' method='POST' id='form'>
      <div class='contact-highlight'>
        <h1 class='contact-title'>Napisz do nas!</h1>
        <p class='contact-description'>
          Zamów darmową wycenę lub dowiedz się więcej. Po wypełnieniu tego
          formularza odezwiemy się do Ciebie najszybciej, jak to możliwe.
        </p>
      </div>
      <div class='contact-content'>
        <input
          type='hidden'
          name='access_key'
          value='ba94798d-d28c-4a42-98bb-b4f51e001a47'
        />
        <input
          type='hidden'
          name='subject'
          value='Wiadomość ze StronaFirmy.pl'
        />
        <label id='textarea'
          >Co możemy dla Ciebie zrobić?
          <textarea
            name='wiadomosc'
            placeholder='Wpisz tutaj swoją wiadomość'
            style='height: 101px;'
            required></textarea>
        </label>
        <label
          >Imię:
          <input
            type='text'
            name='imie'
            placeholder='Imię'
            height='100'
            required
          />
        </label>
        <label
          >Nazwisko:
          <input
            type='text'
            name='nazwisko'
            placeholder='Nazwisko'
            height='100'
            required
          />
        </label>
        <label
          >E-mail:
          <input type='email' name='email' placeholder='E-mail' required />
        </label>
        <label
          >Nazwa firmy:
          <input
            type='text'
            name='firma'
            placeholder='Nazwa firmy (opcjonalnie)'
            height='100'
          />
        </label>
        <label
          >Jaka jest Twoja aktualna rola w firmie?
          <input
            type='text'
            name='rola'
            placeholder='Rola (opcjonalnie)'
            height='100'
          />
        </label>
        <label
          >Jak się o nas dowiedziałeś(-aś)?
          <input
            type='text'
            name='źródło'
            placeholder='Np. z polecania, Google itp. (opcjonalnie)'
            height='100'
          />
        </label>
        <input
          type='checkbox'
          name='botcheck'
          class='hidden'
          style='display: none;'
        />
        <button type='submit' id='submit' class='button'>Wyślij</button>
        <div id='result'></div>
      </div>
    </form>
  </div>
</BaseLayout>

<script is:inline>
  const form = document.getElementById('form')
  const result = document.getElementById('result')

  form.addEventListener('submit', function (e) {
    const formData = new FormData(form)
    e.preventDefault()

    const object = Object.fromEntries(formData)
    const json = JSON.stringify(object)

    result.innerHTML = 'Proszę chwilę poczekać...'

    fetch('https://api.web3forms.com/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json()
        if (response.status == 200) {
          result.innerHTML = 'Wiadomość wysłana, dziękujemy!'
        } else {
          console.log(response)
          result.innerHTML = json.message
        }
      })
      .catch((error) => {
        console.log(error)
        result.innerHTML = 'Coś poszło nie tak!'
      })
      .then(function () {
        form.reset()
        setTimeout(() => {
          result.style.display = 'none'
        }, 3000)
      })
  })
</script>

<style>
  .contact-section {
    margin-inline: auto;
    margin-top: 80px;
    max-width: 600px;
    margin-right: min(50px, 5%);
    margin-left: min(50px, 5%);
    align-self: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--accentedBackground);
    padding: 20px 40px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .contact-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-title {
    font-size: 42px;
    font-weight: 700;
    color: var(--primaryText);
    letter-spacing: -2px;
  }

  .contact-description {
    font-size: 20px;
    color: #575757;
  }

  .contact-content,
  #checkbox,
  #textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  textarea {
    border-radius: 10px;
    font-size: 14px;
    line-height: 28px;
    padding: 10px;
  }

  label {
    font-size: 18px;
    color: var(--primaryText);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    flex-direction: column;
    margin-top: 20px;
  }

  label > select,
  label > input {
    padding: 10px;
    color: #575757;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(27, 31, 35);
    font-size: 14px;
    line-height: 28px;
  }

  .checkbox-style > p {
    color: #414141;
  }

  .button {
    margin-top: 40px;
    align-self: center;
  }

  #result {
    text-align: center;
    padding: 20px;
  }
</style>
