---

---

<section class='section' aria-labelledby='cta'>
  <p class='secondary-text' id='cta'>
    Jeśli interesuje Cię nasza oferta lub chcesz dowiedzieć się więcej, napisz
    do nas!
  </p>
  <a href='/kontakt/' class='button'>Poproś o darmową wycenę</a>
</section>

<style>
  .secondary-text {
    padding: 30px;
  }
</style>
