---

---

<section class='section' aria-labelledby='cta'>
  <p class='secondary-text' id='cta'>
    Napisz do nas, a my odezwiemy się do Ciebie!
  </p>
  <a href='/kontakt' class='button'>Poproś o darmową wycenę</a>
</section>

<style>
  .secondary-text {
    padding: 30px;
  }
</style>
