---

---

<footer>
  <p class='disclaimer'>
    Na stronie występują linki afiliacyjne. Po kliknięciu w nie możesz zapoznać
    się z ich ofertą - za skorzystanie z oferty właściciel strony może otrzymać
    prowizję od reklamodawcy, z którym współpracuje.
  </p>
  <p>Copyright © Mona Naamani & Ela Bogucka</p>
  <p>
    Icons by <a target='_blank' href='https://icons8.com' rel='nofollow'
      >Icons8</a
    >
  </p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--secondaryText);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .disclaimer {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
  }
</style>
