---

---

<footer class='footer'>
  <p class='disclaimer'>
    Na stronie występują linki afiliacyjne. Po kliknięciu w nie możesz zapoznać
    się z ich ofertą - za skorzystanie z oferty właściciel strony może otrzymać
    prowizję od reklamodawcy, z którym współpracuje.
  </p>
  <p>Copyright © Mona Naamani & Ela Bogucka</p>
  <p>Icons by <a href='https://icons8.com'>Icons8</a></p>
</footer>
