---

---

<div class='headline'>
  <div class='headline-text'>
    <h1 class='main-text'>Strona internetowa dla Twojej firmy</h1>
    <p class='secondary-text'>
      Projektujemy, budujemy i utrzymujemy przejrzyste i estetyczne strony
      internetowe, które pomogą Ci zdobyć i utrzymać więcej klientów — a
      wszystko to za jedną stałą miesięczną stawkę.
    </p>
  </div>
  <a href='/contact'
    ><button class='button-style'>Poproś o darmową wycenę</button></a
  >
  <section class='headline-content'>
    <div class='headline-card'>
      <p class='card-title'>Unikalny projekt</p>
      <p class='card-content'>
        Wykonamy indywidualny projekt strony dostosowany do oczekiwań Twojej
        grupy docelowej, dzięki czemu wyróżnisz się na tle konkurencji.
      </p>
    </div>
    <div class='headline-card'>
      <p class='card-title'>Bezpieczeństwo</p>
      <p class='card-content'>
        W ramach usługi zapewniamy bezpieczny web hosting, certyfikat SSL oraz
        stałą opiekę nad stroną i niezbędne aktualizacje.
      </p>
    </div>
    <div class='headline-card'>
      <p class='card-title'>Optymalizacja</p>
      <p class='card-content'>
        Około 70% ruchu w Internecie odbywa się na urządzeniach mobilnych*,
        dlatego zadbamy o to, żeby Twoja strona wyglądała świetnie i ładowała
        się szybko na smartfonach.
      </p>
      <p class='footnote'>
        * Źródło: <a
          href='https://gs.statcounter.com/platform-market-share/desktop-mobile/poland/'
          >StatCounter</a
        >
      </p>
    </div>
  </section>
</div>
