---

---

<header class='headline'>
  <div class='headline-text'>
    <h1 class='main-text'>Strona internetowa dla Twojej firmy</h1>
    <p class='secondary-text'>
      Projektujemy, budujemy i utrzymujemy przejrzyste i estetyczne strony
      internetowe w przystępnym abonamencie
    </p>
  </div>
  <a href='/kontakt/' class='button'>Poproś o darmową wycenę</a>
  <div class='headline-content'>
    <div class='headline-card'>
      <p class='card-title'>Indywidualne podejście</p>
      <p class='card-content'>
        Wiemy, że każdy biznes jest wyjątkowy, dlatego do każdego projektu
        podchodzimy indywidualnie i przykładamy uwagę do najmniejszych
        szczegółów.
      </p>
    </div>
    <div class='headline-card'>
      <p class='card-title'>Bezpieczeństwo</p>
      <p class='card-content'>
        W ramach usługi zapewniamy bezpieczny web hosting, certyfikat SSL oraz
        stałą opiekę nad stroną i niezbędne aktualizacje.
      </p>
    </div>
    <div class='headline-card'>
      <p class='card-title'>Optymalizacja</p>
      <p class='card-content'>
        Około 70% ruchu w Internecie odbywa się na urządzeniach mobilnych*,
        dlatego zadbamy o to, żeby Twoja strona wyglądała świetnie i ładowała
        się szybko na smartfonach.
      </p>
      <p class='footnote'>
        * Źródło: <a
          href='https://gs.statcounter.com/platform-market-share/desktop-mobile/poland/'
          >StatCounter</a
        >
      </p>
    </div>
  </div>
</header>

<style>
  .headline-content {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .headline-card {
    padding: 20px;
    background-color: var(--whiteBackground);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .card-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  .card-content {
    text-align: justify;
    hyphens: auto;
    line-height: 24px;
  }

  .footnote {
    font-size: 12px;
    text-align: right;
  }

  .footnote a {
    color: #085d5a;
  }

  @media (min-width: 1024px) {
    .headline-text {
      width: 60%;
    }

    .headline-card:hover {
      transition: ease-out 0.1s;
      transition: ease-in 0.1s;
      transform: scale(1.05);
      /*box-shadow: var(--accentedColor) 1.95px 1.95px 2.6px;*/
    }
  }
</style>
