---
import { Image } from 'astro:assets'
import logo from '../images/logo.png'
import brightness from '../images/icons8-brightness-24.png'
import { Icon } from 'astro-icon/components'
---

<script>
  const links = document.querySelectorAll('.links li')

  links.forEach((link) => {
    link.addEventListener('mouseenter', function () {
      links.forEach((e) => {
        let otherLink = e.querySelector('a')
        if (otherLink !== this.querySelector('a')) {
          otherLink.classList.remove('show')
          otherLink.classList.add('hidden')
        }
      })
    })

    link.addEventListener('mouseleave', function () {
      links.forEach((e) => {
        let otherLink = e.querySelector('a')
        otherLink.classList.remove('hidden')
        otherLink.classList.add('show')
      })
    })
  })
</script>

<!-- https://www.youtube.com/watch?v=8eFeIFKAKHw -->
<nav id='navbar' class='navbar'>
  <div class='logo'>
    <Image class='logo-img' src={logo} alt='logo' />
    <div class='logo-text'>StronaFirmy.pl</div>
  </div>
  <input type='checkbox' id='sidebar-active' />
  <label for='sidebar-active' class='open-sidebar-button'>
    <!-- Embed the contents of the `/src/icons/bars-solid.svg` file -->
    <Icon name='bars-solid' size={32} />
  </label>
  <label id='overlay' for='sidebar-active'></label>
  <div class='header'>
    <label for='sidebar-active' class='close-sidebar-button'>
      <Icon name='times-solid' size={32} />
    </label>
    <ul class='links'>
      <li><a class='show' href='/'>Strona główna</a></li>
      <li><a class='show' href='/'>Portfolio</a></li>
      <li><a class='show' href='/blog'>Blog</a></li>
      <li><a class='show' href='/contact-form'>Kontakt</a></li>
    </ul>
  </div>
</nav>
