---

---

<section class='section' aria-labelledby='newsletter'>
  <div class='newsletter-form'>
    <form
      method='post'
      action='https://sendfox.com/form/1ywo7d/1keoz9'
      class='sendfox-form'
      id='1keoz9'
      data-async='true'
      data-recaptcha='false'
    >
      <h2 class='section-header' id='newsletter'>Bądź na bierząco</h2>
      <p>
        <label for='sendfox_form_name'>Imię: </label><input
          type='text'
          id='sendfox_form_name'
          placeholder='Imię'
          name='first_name'
          required
        />
      </p>
      <p>
        <label for='sendfox_form_email'>E-mail: </label><input
          type='email'
          id='sendfox_form_email'
          placeholder='E-mail'
          name='email'
          required
        />
      </p>
      <p>
        <label class='checkbox'
          ><input
            type='checkbox'
            name='gdpr'
            value='1'
            class='checkbox-input'
            required
          /><span>
            Wyrażam zgodę na przesyłanie mi aktualnych informacji o ofercie
            StronaFirmy.pl. Wiem, że w każdej chwili mogę wycofać zgodę.</span
          ></label
        >
      </p>
      <!-- no botz please -->
      <div style='position: absolute; left: -5000px;' aria-hidden='true'>
        <input
          type='text'
          name='a_password'
          tabindex='-1'
          value=''
          autocomplete='off'
        />
      </div>
      <p id='button'>
        <button type='submit' class='button'>Zapisuję się</button>
      </p>
      <p>
        Twoje dane przetwarzane będą zgodnie <a
          href='https://www.iubenda.com/privacy-policy/55800526'
          target='_blank'>Polityką Prywatności</a
        > a usługa świadczona zgodnie z <a
          href='https://stronafirmy.pl/regulamin-newslettera/'
          target='_blank'>Regulaminem</a
        >.
      </p>
    </form>
  </div>
</section>

<script is:inline src='https://sendfox.com/js/form.js'></script>

<style>
  .newsletter-form {
    max-width: 100%;
    align-self: center;
    @media screen and (min-width: 1024px) {
      max-width: 600px;
      margin-right: min(50px, 5%);
      margin-left: min(50px, 5%);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--whiteBackground);
    padding: 20px 40px;
    gap: 20px;
    border-radius: 10px;
  }

  label {
    padding: 5px;
    font-size: 18px;
    color: var(--primaryText);
    display: flex;
    gap: 10px 10px;
    margin-top: 20px;
  }

  input {
    padding: 10px;
    color: #575757;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(27, 31, 35);
    font-size: 14px;
    line-height: 28px;
    width: 100%;
  }

  .checkbox-input {
    max-height: 20px;
    max-width: 20px;
    margin-top: 10px;
  }
  .checkbox label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
  }
  .checkbox input {
    vertical-align: middle;
  }
  .checkbox label span {
    vertical-align: middle;
  }

  #button {
    align-self: center;
    margin-top: 40px;
  }

  #result {
    text-align: center;
    padding: 20px;
  }
</style>
