---
import { Image } from 'astro:assets'
---

<section class='section' aria-labelledby='partners'>
  <h2 class='section-header' id='partners'>Nasi Partnerzy</h2>
  <div class='flex-container'>
    <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
      ><Image
        src='https://partners.tawk.to/badges/partner.svg'
        width='150'
        height='120'
        alt='Tawk.to Partner Badge'
      /></a
    >
    <!-- iubenda Certified Partner Badge - Large -->
    <a href='/polityka-prywatnosci' title='iubenda Certified Bronze Partner'
      ><Image
        src='https://www.iubenda.com/partner/bronze@2x.png'
        alt='iubenda Certified Bronze Partner'
        width='306'
        height='108'
      /></a
    >
  </div>
</section>

<style>
  h2 {
    margin-bottom: 10px;
  }

  div {
    gap: 0 40px;
  }
</style>
