---
import { Image } from 'astro:assets'
---

<section class='section'>
  <h2 class='section-header'>Nasi Partnerzy</h2>
  <div class='flex-container'>
    <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
      ><Image
        src='https://partners.tawk.to/badges/partner.svg'
        width='150'
        height='120'
        alt='Tawk.to Partner Badge'
      /></a
    >
    <!-- iubenda Certified Partner Badge - Large -->
    <a href='/iubenda-partner' title='iubenda Certified Bronze Partner'
      ><Image
        src='https://www.iubenda.com/partner/bronze@2x.png'
        alt='iubenda Certified Bronze Partner'
        width='306'
        height='108'
      /></a
    >
  </div>
</section>
