---
import { Image } from 'astro:assets'
import tawkTo from '../assets/tawk-to-badge.svg'
import iubenda from '../assets/iubenda-badge.png'
---

<section class='section' aria-labelledby='partners'>
  <h2 class='section-header' id='partners'>Nasi Partnerzy</h2>
  <div class='flex-container'>
    <a href='https://www.tawk.to/?pid=f5bzmbn' target='_blank'
      ><Image
        src={tawkTo}
        width='150'
        height='120'
        alt='Tawk.to Partner Badge'
      /></a
    >
    <!-- iubenda Certified Partner Badge - Large -->
    <a href='/polityka-prywatnosci/' title='iubenda Certified Bronze Partner'
      ><Image
        src={iubenda}
        alt='iubenda Certified Bronze Partner'
        width='306'
        height='108'
      /></a
    >
  </div>
</section>

<style>
  h2 {
    margin-bottom: 10px;
  }

  div {
    gap: 0 40px;
  }
</style>
