---
import { Image } from 'astro:assets'
import '../styles/global.css'

const { imgSrc, imgAlt, text, href } = Astro.props
---

<li>
  <a href={href}>
    <Image src={imgSrc} width='48' height='48' alt={imgAlt} class='icon' />
    <p class='service-text'>{text}</p>
    {href && <p class='learn-more'>Dowiedz się wiecej</p>}
  </a>
</li>

<style>
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--whiteBackground);
    width: 250px;
    height: 250px;
    padding: 20px;
    justify-content: flex-start;
    text-align: justify;
    gap: 20px;
    hyphens: auto;
    line-height: 1.5;
    border-radius: 20px;
  }

  li:hover {
    transition: ease-out 0.1s;
    transition: ease-in 0.1s;
    transform: scale(1.05);
    box-shadow: var(--accentedColor) 1.95px 1.95px 2.6px;
  }

  .learn-more {
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
</style>
