---

---

<section class='section' aria-labelledby='steps'>
  <h2 class='section-header' id='steps'>Jak wygląda współpraca z nami?</h2>
  <p class='secondary-text'>
    Wiemy, że jako przedsiębiorca masz dużo na głowie, dlatego oferujemy bardzo
    prosty proces. W przeciwieństwie do typowego projektanta nie pozostawimy Cię
    samego lub samej z gotową stroną po zakończeniu projektu. Na każdym etapie
    wszystkim albo zajmiemy się sami, albo doradzimy, tak abyś mógł lub mogła
    skupić się na rozwijaniu swojego biznesu. Nasz proces składa się z 4
    prostych kroków:
  </p>
  <ol class='stepper'>
    <li>Zbieramy od Ciebie wszystkie potrzebne informacje</li>
    <li>Budujemy stronę dopasowaną do Twoich potrzeb</li>
    <li>Przedstawiamy Ci gotowy projekt do zatwierdzenia</li>
    <li>Opiekujemy się Twoją stroną tak długo, jak długo z nami pozostajesz</li>
  </ol>
</section>

<style>
  ol.stepper {
    --default-b: lightgrey;
    --default-c: black;
    --active-b: #10bbb5;
    --active-c: white;
    --circle: 3.5em; /* size of circle */
    --b: 5px; /* line thickness */

    display: flex;
    list-style: none;
    justify-content: space-between;
    background: linear-gradient(var(--default-b) 0 0) no-repeat 50%
      calc((var(--circle) - var(--b)) / 2) / 100% var(--b);
    counter-reset: step;
    padding: 0;
    counter-reset: step;
    overflow: hidden;
    font-size: 20px;
    margin-top: 50px;
  }
  ol.stepper li {
    display: grid;
    place-items: center;
    gap: 5px;
    position: relative;
    flex: 1 1 0px;
    text-align: center;
    line-height: 24px;
  }
  ol.stepper li::before {
    content: counter(step) ' ';
    counter-increment: step;
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    height: var(--circle);
    border: 5px solid #fff;
    box-sizing: border-box;
    background: var(--active-b);
    color: var(--active-c);
    border-radius: 50%;
    font-family: monospace;
  }
  ol.stepper li.active ~ li::before {
    background: var(--default-b);
    color: var(--default-c);
  }
  ol.stepper li.active::after {
    content: '';
    position: absolute;
    height: var(--b);
    right: 100%;
    top: calc((var(--circle) - var(--b)) / 2);
    width: 100vw;
    background: var(--active-b);
  }

  @media (max-width: 1130px) {
    ol.stepper {
      display: grid;
      gap: 20px;
      background: linear-gradient(var(--default-b) 0 0) no-repeat
        calc((var(--circle) - var(--b)) / 2) 50% / var(--b) 100%;
      align-self: center;
      z-index: -1;
    }
    ol.stepper li {
      display: flex;
      text-align: left;
    }
    ol.stepper li.active::after {
      content: '';
      position: absolute;
      width: var(--b);
      bottom: 100%;
      left: calc((var(--circle) - var(--b)) / 2);
      top: auto;
      right: auto;
      height: 100vw;
      background: var(--active-b);
    }
  }
</style>
