---
const { name, quote, company } = Astro.props
---

<figure>
  <svg class='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'
    ><path
      d='M 4 8 L 4 18 L 12 18 C 12 20.21875 10.21875 22 8 22 L 8 24 C 11.300781 24 14 21.300781 14 18 L 14 8 Z M 18 8 L 18 18 L 26 18 C 26 20.21875 24.21875 22 22 22 L 22 24 C 25.300781 24 28 21.300781 28 18 L 28 8 Z M 6 10 L 12 10 L 12 16 L 6 16 Z M 20 10 L 26 10 L 26 16 L 20 16 Z'
      fill='#10bbb5'></path></svg
  >
  <figcaption>
    <blockquote>
      <p>
        {quote}
      </p>
    </blockquote>
    <h3>{name}</h3>
    <h4>{company}</h4>
  </figcaption>
</figure>

<style>
  figure {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #9e9e9e;
    display: inline-block;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid var(--accentedColor);
    display: flex;
    flex-direction: column;
  }

  figure *,
  figure *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }

  figcaption {
    padding: 13% 10% 12%;
  }

  .icon {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 50%;
    position: absolute;
    top: -25px;
    width: 50px;
    height: auto;
  }

  h3 {
    color: var(--secondaryText);
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
  }

  h4 {
    font-weight: 400;
    margin: 0;
    color: var(--accentedText);
  }

  blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
  }
</style>
