---
import Testimonial from './Testimonial.astro'
---

<section aria-labelledby='testimonials'>
  <h2 class='section-header' id='testimonials'>Co mówią o nas nasi Klienci?</h2>
  <div>
    <Testimonial
      quote={`Jestem niezwykle zadowolona ze współpracy z zespołem StronaFirmy.pl. Strona internetowa, którą dla mnie stworzyły, jest bardzo prosta i przejrzysta, idealnie spełniając moje potrzeby. Zespół wykazał się profesjonalizmem i doskonałym zrozumieniem moich oczekiwań. Gorąco polecam ich usługi każdemu, kto szuka kreatywnych i zaangażowanych specjalistek.`}
      name='Anna Tuszkiewicz'
      company='AMT'
      href='https://amtbt.eu/pl'
    />
  </div>
</section>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
</style>
