---

---

<div class='testimonial-section'>
  <h2 class='section-header'>Co mówią o nas nasi Klienci?</h2>
  <div
    class='senja-embed'
    data-id='0d17add6-5371-43a0-9e9f-eeb8880c6305'
    data-mode='shadow'
    data-lazyload='false'
  >
  </div>
  <script
    async
    type='text/javascript'
    src='https://widget.senja.io/widget/0d17add6-5371-43a0-9e9f-eeb8880c6305/platform.js'
  ></script>
</div>

<style>
  .testimonial-section {
    padding: 0 100px 50px 100px;
    z-index: -1;
  }
</style>
