---
import { Image } from 'astro:assets'
import buidlingWebsitesImage from '../assets/undraw_building_websites_i78t.svg'
import SiteFeature from './SiteFeature.astro'
---

<section class='site' aria-labelledby='why-us'>
  <div class='site-image'>
    <Image src={buidlingWebsitesImage} alt='Website Builder' />
  </div>
  <div class='site-text'>
    <h2 class='site-main-text' id='why-us'>Dlaczego my?</h2>
    <div class='site-secondary-text'></div>
    <div class='site-features'>
      <ul>
        <SiteFeature
          text={`Nasze strony są kodowane ręcznie, dzięki czemu są szybkie,
            responsywne i zoptymalizowane pod kątem wyszukiwarek.`}
        />
        <SiteFeature
          text={`Dbamy o to, aby tworzone przez nas strony były dostosowane do
              potrzeb osób niepełnosprawnych i zgodne z wytycznymi dla
              dostępności treści internetowych (WCAG 2.1).`}
        />
        <SiteFeature
          text={`Przykładamy dużą uwagę do ochrony prywatności Twoich klientów oraz
              do tego aby strona Twojej firmy była zgodna z RODO (GDPR).`}
        />
        <SiteFeature
          text={`Bezpieczny hosting i certyfikat SSL wliczone w cenę.`}
        />
      </ul>
    </div>
  </div>
</section>

<style>
  .site-main-text {
    font-size: 32px;
    color: var(--primaryText);
    font-weight: 700;
    align-self: center;
    letter-spacing: -0.5px;
  }

  .site {
    background-color: rgb(244, 244, 244);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin: auto;
  }

  img {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .site-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: justify;
    hyphens: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0px;
  }

  li {
    display: flex;
    gap: 10px;
    line-height: 24px;
  }

  @media (min-width: 1024px) {
    .site {
      flex-direction: row;
      padding: 50px 100px;
      margin-bottom: 50px;
    }

    img {
      width: 40vw;
    }
  }
</style>
