---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  title: string
  description: string
}

const { title = 'StronaFirmy.pl', description = '' } = Astro.props as Props
---

<!doctype html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <meta name='theme-color' content='#10BBB5' />
    <meta name='description' content={description} />
    <title>{title}</title>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
